@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&family=Merriweather:wght@400;700&family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Line clamp utilities (sin plugin) */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* estándar */
  overflow: hidden;
}
.line-clamp-none {
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

:root {
  --color-primary: #1a202c;
  --color-brand: #2b6cb0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #f7fafc;
    --color-brand: #63b3ed;
  }
}